<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="u8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Johndoe Portfolio Resume Bootstrap Template | Webthemez</title>
    <meta name="description" content="">
    <meta name="keywords" content="portfolio, agency, bootstrap theme, mobile responsive, template, personal">
    <meta name="author" content="webthemez.com">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="" type="image/x-icon"> 

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Nivo Lightbox
    ================================================== -->
    <link rel="stylesheet" href="css/nivo-lightbox.css" >
    <link rel="stylesheet" href="css/nivo_lightbox_themes/default/default.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  </head>
  <body>
    <!-- Home Section
    ================================================== -->
    <section id="home">
        <div class="overlay"> <!-- Overlay Color -->
            <div class="container"> <!-- container -->
                <div class="content-heading text-center"> <!-- Input Your Home Content Here -->
                    <h1>#Stage 1</h1>
                    <h1>For a given string that only contains alphabet characters a-z, if 3 or more consecutive
                        characters are identical, remove them from the string. </br>
                        Repeat this process until
                        there is no more than 3 identical characters sitting besides each other.</h1>
                    <h2>Example:</h2>
                    <h3>Input: aabcccbbad</h3>
                    <label>Output:</label>
                    <ul>
                        <li>-> aabbbad</li>
                        <li>-> aaad</li>
                        <li>-> d</li>
                    </ul>
                </div><!-- End Input Your Home Content Here -->
            </div> <!-- end container -->
            <div class="container"> <!-- container -->
                <div class="content-heading text-center"> <!-- Input Your Home Content Here -->
                    <h1>#Stage 2 - advanced requirement</h1>
                    <h1>Instead of removing the consecutively identical characters, replace them with a
                        single character that comes before it alphabetically.</h1>
                    <h2>Example: ccc -> b,bbb -> a</h2>
                    <label>Output:</label>
                    <ul>
                        <li>->  abbbad, ccc is replaced by b</li>
                        <li>-> aaad, bbb is replaced by a</li>
                        <li>-> d</li>
                    </ul>
                </div><!-- End Input Your Home Content Here -->
            </div> <!-- end container -->
            <div class="container"> <!-- container -->
                <a href="#works" class="scroll goto-btn">Download Resume</a> <!-- Link to your portfolio section -->
            </div>
        </div><!-- End Overlay Color -->
    </section>

    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script><!-- Owl Carousel Plugin -->

    <!-- Parallax Effects -->
    <script type="text/javascript" src="js/skrollr.js"></script>
    <script type="text/javascript" src="js/imagesloaded.js"></script>

    <!-- Portfolio Filter -->
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <!-- LightBox Nivo -->
    <script type="text/javascript" src="js/nivo-lightbox.min.js"></script>

    <!-- Contact page-->
    <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="js/contact.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>