<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="u8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>candy crush letter</title>
    <meta name="description" content="">
    <meta name="keywords" content="portfolio, agency, bootstrap theme, mobile responsive, template, personal">
    <meta name="author" content="webthemez.com">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="" type="image/x-icon"> 

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Nivo Lightbox
    ================================================== -->
    <link rel="stylesheet" href="css/nivo-lightbox.css" >
    <link rel="stylesheet" href="css/nivo_lightbox_themes/default/default.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  </head>
  <body>
    <!-- Home Section
    ================================================== -->
    <section id="home">
        <div class="overlay"> <!-- Overlay Color -->
            <div class="container"> <!-- container -->
                <div class="content-heading text-center"> <!-- Input Your Home Content Here -->
                    <h1>#Stage 1</h1>
                    <h1>For a given string that only contains alphabet characters a-z, if 3 or more consecutive
                        characters are identical, remove them from the string. </br>
                        Repeat this process until
                        there is no more than 3 identical characters sitting besides each other.</h1>
                    <h2>Example:</h2>
                    <h3>Input: aabcccbbad</h3>
                    <label>Output:</label>
                    <ul>
                        <li>-> aabbbad</li>
                        <li>-> aaad</li>
                        <li>-> d</li>
                    </ul>
                </div><!-- End Input Your Home Content Here -->
            </div> <!-- end container -->

            <!-- form -->
            <div style="padding: 20px;border: 1px solid #aaaaaa;margin: auto;color: white;font-weight: bold;" class="container">
                <div style="text-align: center;line-height: 50px;">
                    <input name="fruit" type="radio" value="1" checked />Stage 1
                    <input name="fruit" type="radio" value="2" />Stage 2
                </div>
                <div style="text-align: center;display: flex;line-height: 50px;">
                    <div>
                        <span>input：</span>
                        <input id="str" type="text" style="width: 200px;height: 35px; margin-right: 50px;color: #5e5e5e;padding: 5px;" value="" placeholder="请输入字符串">
                    </div>
                    <div>
                        <span>相邻重复最小数：</span>
                        <input id="num" type="text" style="width: 200px;height: 35px; margin-right: 50px;color: #5e5e5e;padding: 5px;" value="" placeholder="请输入数字">
                    </div>
                    <div>
                        <button style="height: 37px;background-color: #5cb85c;line-height: 30px;width: 100px;border: 1px solid;border-radius: 3px;" id="doBtn">确定</button>
                    </div>
                </div>
            </div>
            <!-- end form -->

            <!-- popup -->
            <div style="position: fixed;left: 0;top: 0;background-color: #333333ab;width: 100%;height: 100%;z-index: 999;display: none;" class="popup closePopup"></div>
            <div style="display: block;position: fixed;left: 20%;top: 100px;width: 60%;height: 50%;z-index: 9999;background-color: #ffffff;display: none;" class="popup">
                <div style="text-align:right;padding: 2px 15px;font-size: 24px;background-color: #eee;">
                    <label>关闭结果集：</label><a href="javascript:;" class="closePopup">×</a>
                </div>
                <div style="margin: 5px 10px;">
                    <ul id="u">

                    </ul>
                </div>
            </div>
            <!-- end popup -->
            <div class="container"> <!-- container -->
                <div class="content-heading text-center"> <!-- Input Your Home Content Here -->
                    <h1>#Stage 2 - advanced requirement</h1>
                    <h1>Instead of removing the consecutively identical characters, replace them with a
                        single character that comes before it alphabetically.</h1>
                    <h2>Example: ccc -> b,bbb -> a</h2>
                    <label>Output:</label>
                    <ul>
                        <li>->  abbbad, ccc is replaced by b</li>
                        <li>-> aaad, bbb is replaced by a</li>
                        <li>-> d</li>
                    </ul>
                </div><!-- End Input Your Home Content Here -->
            </div> <!-- end container -->
        </div><!-- End Overlay Color -->
    </section>

    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script><!-- Owl Carousel Plugin -->

    <!-- Parallax Effects -->
    <script type="text/javascript" src="js/skrollr.js"></script>
    <script type="text/javascript" src="js/imagesloaded.js"></script>

    <!-- Portfolio Filter -->
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <!-- LightBox Nivo -->
    <script type="text/javascript" src="js/nivo-lightbox.min.js"></script>

    <!-- Contact page-->
    <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="js/contact.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>